/*-- scss:defaults --*/

$primary: #FF7675 !default;
$secondary: #F4F5FC!default;
$grey: #1A1A1A !default;
$gray: rgba(1, 1, 1, 0.6) !default;


/*-- scss:rules --*/

.navbar-title {
  /*color: $primary;*/
/*  color: $secondary; */
color: white;
  font-weight: 900;
 /*   font-size: 150%; */
/*    background: red; */
 /*   font-size: var(--bs-navbar-toggler-font-size); */
  font-size: 100%;

}


.navbar{
background-image: url("img/navbar.png");
/* background:$secondary; */
  background-repeat: no-repeat;
  background-size: 100%;
/*  opacity: 0.5; */
/*  filter: brightness(50%) */
} 

.navbar {
  font-size: 80%;
/*    font-size: var(--bs-navbar-toggler-font-size); */

  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .nav-item {
    margin-right: .5rem;
    margin-left: .5rem;
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .navbar-nav {
    .nav-link {
      border-radius: $border-radius;
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      &:hover {
        background-color: rgba(227, 84, 32, 1);
        color: white;
      /*  font-size: 120%; */
      }

      &.active {
        background-color: rgba(227, 84, 32, 1);
        color: white;
 /*       font-size: 120%; */

      }
    }
  }
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
    font-size: 100%; 
/*
  background-image: url("img/projects.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
*/

}

hr{margin:1rem 0;color:inherit;border:0;border-top:1px solid;opacity:.25}        

/* Headings ------------------------------------------------------ */

h1 {
/*	font-family: "Signika Negative";*/
/*background-color: $secondary;*/
  font-weight: bold;
color: $secondary;
  margin-bottom: 3rem;
}

h2 {
color: $primary;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 140%;
}

h3 { margin-top: 1.5em; font-size: 110%; }
h4 { margin-top: 1.5em; font-size: 100% }
h5 { margin-top: 1.5em; font-size: 100% }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

